.slider h3,
.slider h5 {
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5)
}

section {
    padding: 20px 0;
}

.parallax-container {
    height: 240px;
}

.label {
    width: 100px;
    height: 10px;
    background-color: green;
}

